<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Day la trang home</h1>
        <p>Trang nay hien thi danh sach cac san pham kem anh</p>
        <p>Cac ban co the chon xem san pham va mua hang tai day</p>
    </div>
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tim san pham">
        <select name="select-category" class="form-control product-category">
            <option disabled selected>Category</option>
            <option>Do dien tu</option>
            <option>Do gia dung</option>
            <option>Hai san</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/245032/pexels-photo-245032.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="product-image">
                <div class="product-name">
                    <h2>Product 1</h2>
                </div>
                <div class="product-description">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Doloremque, harum dolorum mollitia minima alias et ab illum atque quae omnis
                        quis necessitatibus ducimus dolorem soluta aliquid a! Consectetur, dignissimos! Iure!</span>
                </div>
                <div class="product-warranty">
                    <p>12 thang bao hanh</p>
                </div>
                <div class="product-price"> Gia: <del>$200</del> $100</div>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Them vao gio hang</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/245032/pexels-photo-245032.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="product-image">
                <div class="product-name">
                    <h2>Product 1</h2>
                </div>
                <div class="product-description">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Doloremque, harum dolorum mollitia minima alias et ab illum atque quae omnis
                        quis necessitatibus ducimus dolorem soluta aliquid a! Consectetur, dignissimos! Iure!</span>
                </div>
                <div class="product-warranty">
                    <p>12 thang bao hanh</p>
                </div>
                <div class="product-price"> Gia: <del>$200</del> $100</div>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Them vao gio hang</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/245032/pexels-photo-245032.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="product-image">
                <div class="product-name">
                    <h2>Product 1</h2>
                </div>
                <div class="product-description">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Doloremque, harum dolorum mollitia minima alias et ab illum atque quae omnis
                        quis necessitatibus ducimus dolorem soluta aliquid a! Consectetur, dignissimos! Iure!</span>
                </div>
                <div class="product-warranty">
                    <p>12 thang bao hanh</p>
                </div>
                <div class="product-price"> Gia: <del>$200</del> $100</div>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Them vao gio hang</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/245032/pexels-photo-245032.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="product-image">
                <div class="product-name">
                    <h2>Product 1</h2>
                </div>
                <div class="product-description">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Doloremque, harum dolorum mollitia minima alias et ab illum atque quae omnis
                        quis necessitatibus ducimus dolorem soluta aliquid a! Consectetur, dignissimos! Iure!</span>
                </div>
                <div class="product-warranty">
                    <p>12 thang bao hanh</p>
                </div>
                <div class="product-price"> Gia: <del>$200</del> $100</div>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Them vao gio hang</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/245032/pexels-photo-245032.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="product-image">
                <div class="product-name">
                    <h2>Product 1</h2>
                </div>
                <div class="product-description">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Doloremque, harum dolorum mollitia minima alias et ab illum atque quae omnis
                        quis necessitatibus ducimus dolorem soluta aliquid a! Consectetur, dignissimos! Iure!</span>
                </div>
                <div class="product-warranty">
                    <p>12 thang bao hanh</p>
                </div>
                <div class="product-price"> Gia: <del>$200</del> $100</div>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Them vao gio hang</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>